<section>
    <div class="picture" *ngFor="let image of images">
        <img (click)="openImage(image)" src="{{ image.photoUrl }}">
    </div>

    <!-- <app-lightbox [presentedImage]="this.presentedImage" *ngIf="showBigImg"></app-lightbox> -->

    <div *ngIf="showBigImg" class="bigImagebox">
        <mat-icon (click)="closeImage()" aria-hidden="false"> close </mat-icon>
        <div *ngIf="previewImage">
            <img src="{{ currentBigImage }}" alt="">
        </div>
        <button class="addTag" *ngIf="showBigImg" (click)="addTag(presentedImage.firestoreDocumentId)">Add Tag</button>
        <div class="tags" *ngIf="showBigImg">
            <span id={{i}} *ngFor="let tag of tags, let i = index"># {{ tag }}</span>
        </div>
    </div>

</section>