<!-- <div *ngIf="showBigImg" class="bigImagebox">
    <mat-icon (click)="closeImage()" aria-hidden="false" aria-label="Beispiel home icon"> close </mat-icon>
    <div *ngIf="previewImage">
        <img src="{{ currentBigImage }}" alt="">
    </div>
    <button class="addTag" *ngIf="showBigImg" (click)="openDialog(presentedImage.firestoreDocumentId)">Add Tag</button>
    <div class="tags">
        <span *ngFor="let tag of tags,let i = index" id="{{ i }}"># {{ tag }}</span>
    </div>
</div>

this works -->